<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mitoh</title>
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
  {% load static %}
  <link href="{% static 'apps/style.css' %}" rel="stylesheet">
</head>
<body id="about">

<!--header始まり-->
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- ロゴの画像の表示、Homeへのリンク化-->
  <!--クラス：ロゴ-->
          <h1><font color=#ffffff>量子機械学習による画像分類</font></h1>
      </div>
        <nav>
        <!--クラス；グローバルナビ-->
        <ul class="global-nav">
            <!--メニュー内要素(ページ名)-->
            <li><a href="home.html">Home</a></li>
            <!--手書き文字認識-->
            <li><a href="try_quantum.html">Try Quantum</a></li>
            <!--技術-->
            <li><a href="technologies.html">Technologies</a></li>
            <!--メンバー-->
            <li><a href="members.html">Members</a></li>
            <!--論文やサイトのリンク-->
            <li><a href="links.html">Links</a></li>
          </ul>
    </nav>
  </header>
  <!--header終わり-->

<!--wrap始まり-->
<div id="wrap">
  <!--クラス：コンテンツ-->
  <div class="content">
    <div class="main-center">
      <div align="center">
     </div>
    <section class="about clearfix">
    
    <h2 class="icon">参考リンク</h2>
        <ul>
            <li><p><a href="https://kigiroku.com/frontend/canvas_draw.html#4">canvasで作るお絵描きツール</a></p></li>
            <li><p>aaaa</p></li>
        </ul>
    
     <style>
        body {
           background: #eee;
        }

        #canvas {
           margin: 10px;
           background: #ffffff;
           border: 1px solid #aaaaaa;
        }

        input[type="image"]{
        	padding: 2px;
        	outline: none;
        }

        input[type="image"].active{
        	background-color: #fff;
        }

     </style>


<body>


      </section>
      
  </div>
  </div>
</div>
<!--wrap終わり-->

<!--footer始まり-->
  <footer>
    <small>&copy;20018-2019 Shin Nishio, Yasuhiro Ohkura, Ryosuke Satoh
All Rights Reserved.</small><br>
    <small><a href="mailto:parton@sfc.wide.ad.jp">お問い合わせ</a></small>
  </footer>
<!--hooter終わり-->
</body>
</html>
